@media screen and (min-width: 0px) and (max-width: 320px) {
  .topic img {
    height: 30px;
    margin-right: 10px;
  }

  .topic a {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .line {
    height: 2px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .topic img {
    height: 40px;
    margin-right: 10px;
  }

  .topic a {
    font-size: 2rem;
    font-weight: 500;
  }

  .line {
    height: 2px;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .topic img {
    height: 50px;
    margin-right: 10px;
  }

  .topic a {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .line {
    height: 3px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .topic img {
    height: 50px;
    margin-right: 15px;
  }

  .topic a {
    font-size: 2rem;
    font-weight: 600;
  }

  .line {
    height: 4px;
  }
}
